
   
{% extends 'base.html' %} {% block content %}

<h1 class="black-text lighten-4">Portfolio </h1>


{% for portfolio in portfolios %}

<div class="card-panel hoverable">
  <center>
  <a href="{% url 'detail' portfolio.id %}">
    <div class="card-content">
    <span class="card-title"><h1 class="black-text"> {{ portfolio.name }}</h1>
    </span>
  </center>
    <h5 class="black-text"> Technologies used: </h5>
    <p class="black-text">{{ portfolio.tech }} </p>
  </div>
</a>
</div>
{% endfor %}
{% endblock %}