{% extends 'base.html' %} {% block content %}
<h1>Blogs</h1>
{% for blog in blogs %}
<div class="card">
  <a href="{% url 'bletail' blog.id %}">
    <div class="card-content">
    <span class="card-title">{{ blog.title }}</span>
  </div>
</a>
</div>

<div class="row">

  <div class="col s4">
      <img src="https://images.unsplash.com/photo-1605694386088-55d718f881f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHJvd2luZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"style="width:100%;height:100%"class="circle">
  </div>
  <div class="col s4">
      <img src="https://images.unsplash.com/photo-1614522407266-ad3c5fa6bc24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhvYmJpZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=60"style="width:100%;height:100%" class="circle" >
  </div>
  <div class="col s4">
      <img src="https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1400&q=60"style="width:100%;height:100%"class="circle" >
  </div>


</div>
{% endfor %}
{% endblock %}