{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="blue-text">Contact</h1>

<div 
style="background-image: url(https://media.istockphoto.com/photos/golden-four-leaf-clover-picture-id171156351?b=1&k=20&m=171156351&s=170667a&w=0&h=ZDP7fKhoEjihc0i-nKoT5E71y5ipGDiqfHJYNFCTM48=")">

<form action="" method="post">
    {% csrf_token %}
   {{ contact_form.as_p }}

    <tr>
        <th>
            <label for="id_email" class="blue-text">Email:</label>
        </th>
        <td>
            <input type="email" class="blue-text text-darken-10"name="email" maxlength="254" required id="id_email">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_subject"class="blue-text text-darken-10">Subject:</label>
        </th>
        <td>
            <input type="text" name="subject" maxlength="255" required id="id_subject"class="blue-text ">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_message"class="blue-text text-darken-10">Message:</label>
        </th>
        <td>
      
            <textarea name="message" cols="40" rows="10" required id="id_message"class="blue-text ;"></textarea>
 
        </td>
    </tr>
</div>
<br>
<input type="submit" class="btn blue right" value="Submit">
</form>
<script>
   
</script>

{% endblock %}