{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="black-text">Contact</h1>

<div 
style="background-image: url(https://i.imgur.com/O48ht4j.gif")>

<form action="" method="post">
    {% csrf_token %}
   {{ contact_form.as_p }}
<b>
    <tr>
        <th>
            <label for="id_email" class="black-text">Email:</label>
        </th>
        <td>
            <input type="email" class="black-text text-darken-10"name="email" maxlength="254" required id="id_email">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_subject"class="black-text text-darken-10">Subject:</label>
        </th>
        <td>
            <input type="text" name="subject" maxlength="255" required id="id_subject"class="black-text ">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_message"class="black-text text-darken-10">Message:</label>
        </th>
        <td>
      
            <textarea name="message" cols="40" rows="10" required id="id_message"class="black-text ;"></textarea>
 
        </td>
    </b>
    </tr>
</div>
<br>
<input type="submit" class="btn blue right" value="Submit">
</form>
<script>
   
</script>

{% endblock %}