{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Contact</h1>

<form action="" method="post">
    {% csrf_token %}
   {{ contact_form.as_p }}
    <tr>
        <th>
            <label for="id_email">Email:</label>
        </th>
        <td>
            <input type="email" name="email" maxlength="254" required id="id_email">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_subject">Subject:</label>
        </th>
        <td>
            <input type="text" name="subject" maxlength="255" required id="id_subject">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_message">Message:</label>
        </th>
        <td>
            <textarea name="message" cols="40" rows="10" required id="id_message"></textarea>
        </td>
    </tr>
    <input type="submit" class="btn green" value="Submit">
</form>
<script>
    
</script>

{% endblock %}