{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head> 
    <h1 class="black-text">About Pythonistar</h1> 
    <h5>Alba Molina</h5>
 <a  href="{% url 'tldr' %}" class="waves-effect grey darken-3 btn-large" target="_blank">TLDR; Alba Molina</a>
     
 <hr />
 <img src="https://i.imgur.com/5Y1JUrz.png" class="materialboxed"  height="300px"> 
 <!-- <center> -->




<blockquote class="flow-text">
   Hi there! Thanks for checking out my website! My name is Alba Molina and I am a Full Stack Software Engineer. In one of my previous lives I was a Business Development Representative and moved my way up to leadership in the SaaS/tech industry. That's when I fell in love with the industry!
  </blockquote>
  <blockquote class="flow-text">
    But let's take it back a bit... to when I was no more than six years old... You see, I always knew I wanted to be an entreprenuer... it's in my blood! I vividly remember going to "el mercado" with Mama Flora, my grandmother, as she went on to handle her loyal customers at her humble cheese selling business in San Salvador! <br>
  </blockquote>

  <blockquote class="flow-text">
    Fast forward to my 24th birthday and I became an SDR! Boom I was selling software to enterprise businesses! Getting my feet wet in this industry made me realize that I not only wanted to be an entreprenuer... but a <b>tech entreprenuer</b>!<br>
  </blockquote> 
<img src="https://i.imgur.com/3ioyviR.gif" height="75px">
  <blockquote class="flow-text">
"Turns out making technology sexy through words as a BDR made me realize that I also wanted to build sexy software! I am obsessed with making people's tedious day to day worklife easier so that they can spend time focusing on what really matters to them." </blockquote>
   
    <br>
    <blockquote class="flow-text">  My path from Business/Sales Development Leadership and into the developer world is intentionally geared torwards my ultimate goal of founding something of my own.<br> <img src="https://i.imgur.com/Rw48xGF.gif" height="105px">After 2.5 years growing and scaling fast growing software companies...I am excited to transition into the next stage in my career... 
     
      <b> ...helping fast growing companies scale by helping engineering teams build systems at scale.</b> That's right, I am looking for software engineering roles, in particular full stack developer roles!</blockquote>
      <blockquote class="flow-text">What distinguishes me from the pack?<br>  <img src="https://i.imgur.com/mPr1ODz.gif" height="155px"><br> 
        My work ethic, communication skills, as well as my growth mindset. That said, if you are looking for a backend developer that has all of the above and then some, let's chat!</blockquote> 

</blockquote> 

<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Hire Me<i class="material-icons right">view more</i></span>
    <p> <ul id= 'languages-middle'>
      <div id= "languages">
        <ul id= 'languages-left' >  
          <li><img src="https://i.imgur.com/oFmUUEB.png" height="30px" alt="" id="CSS">
            <br/>CSS</li>
          <li><img src="https://i.imgur.com/uRRYcH8.png" height="30px" alt="" id="HTML">
            <br/>HTML</li>
          <li><img src="https://i.imgur.com/7O5ePuK.png" height="30px" alt="" id="python">
            <br/>Python</li>
          <li><img src="https://i.imgur.com/dsofhNu.png" height="30px" alt="" id="JS">
            <br/>JavaScript</li>
          <li><img src="https://i.imgur.com/wJyxTYF.png" height="30px" alt="" id="nodejs">
            <br/>Node.js</li>
          <li><img src="https://i.imgur.com/kDnpMIB.png" height="30px" alt="" id="jQuery">
            <br/>jQuery</li>
            <li><img src="https://i.imgur.com/P8GWdMu.png" height="30px" alt="" id="mgdb">
              <br/>mongodb</li>
            <li><img src="https://i.imgur.com/2WcUCs2.png" height="30px" alt="" id="mongoose">
              <br/>mongoose</li>
            <li><img src="https://i.imgur.com/1oBZCV8.png" height="30px" alt="" id="postgresql">
              <br/>postgresql</li>
        </ul>
     
        <ul id='languages-right'>
          <li><img src="https://i.imgur.com/t4Hxl7O.png" height="30px" alt="" id="cloudinary">
            <br/>cloudinary</li>
          <li><img src="https://i.imgur.com/9060jbq.png" height="30px" alt="" id="disqus">
            <br/>disqus</li>
          <li><img src="https://i.imgur.com/sW7xkBl.png" height="30px" alt="" id="firebase">
            <br/>google firebase</li>
          <li><img src="https://i.imgur.com/POVgAvB.png" height="30px" id="aws">
            <br/>AWS</li>
          <li><img src="https://i.imgur.com/gEIimPd.png" height="30px"alt="" id="bootstrap">
            <br/>bootstrap CSS</li>
          <li><img src="https://i.imgur.com/16cg5GP.png" height="20px" alt="" id="expressJS">
            <br/>Express.js</li>
          <li><img src="https://i.imgur.com/uqWVhHL.png" height="30px" alt="" id="reactjs">
            <br/>React.js</li>
          <li><img src="https://i.imgur.com/CyQx3LA.png" height="30px" alt="" id="Flask">
            <br/>Flask</li>
          <li><img src="https://i.imgur.com/9LocGtj.png" height="30px" alt="" id="django">
            <br/>django</li>
        </ul>
      
        </div></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Hire Me<i class="material-icons right">close</i></span>
    <br/>    <br/>    <br/>    <br/>    <br/>
    <center>
      <img src="https://i.imgur.com/TDvQ8Ev.gif" height="500px">
      </center>
  </div>
</div>






 
  
{% endblock %}