{% extends 'base.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% block content %}


<h4 class="white-text lighten-4">ABOUT ALBA MOLINA</h4>
<div class="col s6 m8 offset-m2 l6 offset-l3">

 
      <div class="row valign-wrapper">
        <div class="col s4">
          <img src="https://i.imgur.com/5Y1JUrz.png"  simg class="materialboxed" width="270" >
        </div>
        <div class="col s10">
          <p class="white-text">What differentiates good from great is the time they dedicate to their craft</p>
        
        </div>
      </div>
    </div>
<blockquote class="card-panel teal lighten-3">
Turns out making technology sexy through words as a BDR made me realize that I also wanted to build sexy software! I am obsessed with making people's tedious day to day worklife easier so that they can spend time focusing on what really matters to them. 
</blockquote>
<blockquote class="card-panel teal lighten-3">
My path from Business/Sales Development Leadership and into the developer world is intentionally geared torwards my ultimate goal of founding something of my own.
</blockquote>
<blockquote class="card-panel teal lighten-3">
I think what really distinguished me from the pack throughout my entire sales career was my work ethic, communication skills, as well as my growth mindset. That said, those three items set me apart as I look for a backend developer role at a fast growth software company. 
</blockquote>
    



<p>Hire Me!!</p>
{% endblock %}