{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Get a Quote </h1>




<div style="background-image: url(https://images.unsplash.com/photo-1609473295863-2d9299af71d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fGdyZWVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60">
<form action="" method="post" class="white-text">
  
    {% csrf_token %}
    {{ form }}


    <input type="submit" class="btn green right" value="Submit">
</form>
</div>
<script>
    
</script>
</body>

{% endblock %}