{% extends 'base.html' %}

{% block content %}
<h1>Resume</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <!-- <a href="/resume/{{resume.id }}"> -->
            <div class="card-content">
                <h3>Software Engineer</h3>
                <span class="card-title"></span>
                <p> Alba Molina .</p>
                <span class="card-title"> </span><div class="card-action">
            
            </div>
<div class="row">
    <div class="card-content">
        <h3>Leader</h3>
        <span class="card-title"></span>
        <p> Alba Molina .</p>
        <span class="card-title"> </span>
        <div class="card-action">
        
    </div>
<div class="row">
    <div class="card-content">
        <h3>Business-woman</h3>
        <span class="card-title"></span>
        <p> Alba Molina .</p>
        <span class="card-title"> </span>
        <div class="card-action">
<!-- </a> -->
        </div>

{% endblock %}