{% extends 'base.html' %}

{% block content %}
<style>
  .newspaper {
    column-count: 3;
    column-gap: 10px;
    column-rule-style: solid;
    column-rule-color: lightblue;
  }
  </style>
<h4>About Alba Molina</h4>
<hr />
<a  href="{% url 'home' %}" class="waves-effect grey darken-3 btn-large">Back</a>

    <div class="newspaper" >
      <ul id='left' style="background-image: url(https://i.imgur.com/TDvQ8Ev.gif">
            <li>JavaScript</li>
            <li>Python</li>
            <li>CSS</li>
            <li>HTML</li>
            <li>Node.js</li>
            <li>jQuery</li>
          </ul>
      <ul id='middle' style="background-image: url(https://i.imgur.com/TDvQ8Ev.gif">
            <li>MongoDB</li>
            <li>Mongoose</li>
            <li>Postgresql</li>
            <li>Express.js</li>
            <li>React.js</li>
            <li>Flask</li>
            <li>Django</li>
      </ul>
          <ul id='right' style="background-image: url(https://i.imgur.com/TDvQ8Ev.gif">
            <li>Cloudinary</li>
            <li>Disqus</li>
            <li>Google firebase</li>
            <li>AWS</li>
            <li>Bootstrap CSS</li>
          </ul>
        
   </div>
{% endblock %}

</div>
