{% extends 'base.html' %}

{% block content %}

<h4>About Alba Molina</h4>
<p>TLDR Version<br>
Tech Stack:
<ul>
    <li>
       HTML
    </li>
    <li>
        CSS
     </li>
     <li>
        Python
     </li>
     <li>
        JavaScript
     </li>
     <li>
        React
     </li>
     <li>
       OAuth
     </li>
     <li>
        Google Firebase
     </li>
     <li>
        MongoDB/Mongoose
     </li>
     <li>
        PostgreSQL
     </li>
     <li>
        Django
     </li>
     <li>
        Express
     </li>
</ul></p>
<img src="https://i.imgur.com/TDvQ8Ev.gif" height="300px">

{% endblock %}

</div>
