{% extends 'base.html' %}

{% block content %}
<style>
         @media screen and (max-width: 500px) {
  .newspaper {
    column-count: 3;
    column-gap: 10px;
    column-rule-style: solid;
    column-rule-color: lightblue;
  }
}
  </style>
<h4>About Alba Molina</h4>
<hr />
<br/>
<a  href="{% url 'home' %}" class="waves-effect grey darken-3 btn-large">Back</a>
<center>
  <p> <img src="https://i.imgur.com/TDvQ8Ev.gif" height="200px"></p>
</center>


    <div class="newspaper" >
      <ul id='left' >
            <li>JavaScript</li>
            <li>Python</li>
            <li>CSS</li>
            <li>HTML</li>
            <li>Node.js</li>
            <li>jQuery</li>
          </ul>
      <ul id='middle' >
            <li>MongoDB</li>
            <li>Mongoose</li>
            <li>Postgresql</li>
            <li>Express.js</li>
            <li>React.js</li>
            <li>Flask</li>
            <li>Django</li>
      </ul>
          <ul id='right' >
            <li>Cloudinary</li>
            <li>Disqus</li>
            <li>Google firebase</li>
            <li>AWS</li>
            <li>Bootstrap CSS</li>
          </ul>
        
   </div>

{% endblock %}

</div>
