{% extends 'base.html' %}

{% block content %}
<h1>Tutoring</h1>
<p>Hi there! Interested in getting your child started on coding skills from an early age? Here is your opportunity, my name is Alba Molina and I do private tutoring and teach Saturdays and Sundays. </p>
<br/>
<p> Pythonistar Tutoring allows for children to develop their software development skills and get creative while at it. </p>
<p>Languages include: 
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Python</li>
    </ul>
</p>
    This is a great opportunity for your child to start getting the help they need early into the school year. 
    
    If you're interested in the program please fill out the <a href="{% url 'contact' %}">Contact Form</a> and I will get in contact with you to discuss the program and availability!</p>
{% endblock %}


