body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer {
    padding-top: 0;
    text-align: right;
  }
  img#alba {
    border-style:double;
    border-top-style: 30%;
    border-right-style: 300%;
    border-bottom-style: 300%;
    border-left-style: 300%;
  }

